html {
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: $font-family-main;
    color: $body-color;
}

body {
    font-size: 18px;

    @include media($screen-lg) {
        font-size: 22px;
    }
}

::selection {
    color: $white;
    background: $primary;
}

.img {
    display: inline-block;
    height: auto;
}

html.is-scroll-locked {
    overflow: hidden;
}
